.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
/.idea/*
!/.idea/runConfigurations
*.iml
*.ipr
*.iws
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# JVM crash related
core.*
hs_err_pid*

# vim
.*.sw[a-p]

# Linux temp files
*~

# other stuff
run/

build-data/
WolfMC-API
WolfMC-MojangAPI
WolfMC-Server
paper-api-generator
*.jar
test-plugin.settings.gradle.kts